.header {
  height: 80px;
  background-color: black;
  width: 100%;
  display: inline-block;
  &__logo {
    padding: 10px;
    min-width: 100%;
    font-size: 50px;
    color: aqua;
    font-family: Silom;
  }
}